{block content}

<h1>Editace slideru</h1>

<p>
    <strong>Aktuální obrázek:</strong><br>
    <img src="{$basePath}/uploads/slider/{$slider->image}" width="300">
</p>

{control sliderForm}

<p>
    <a n:href="default">← zpět na seznam</a>
</p>

{/block}