* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flash {
    width: 600px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 8%;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
}

.flash.success {
    background-color: rgb(166, 255, 166);
    border: 1px solid green;
    color: green;
    font-weight: bold;
}

.flash.danger {
    background-color: rgb(255, 105, 105);
    border: 1px solid rgb(153, 1, 1);
    color: rgb(153, 1, 1);
    font-weight: bold;
}