* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 27);
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.logo img {
    width: 120px;
}

.hero {
    margin-top: -100px;
}

.carousel-item img {
    height: 768px;
    object-fit: cover;
     background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 50%),linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 50%);
}

header {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    position: relative;
    z-index: 50;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header ul {
    list-style: none;
    display: inline-block;
    margin: 0;
}

header ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}

.sign-in, .sign-up {
    padding: 5px 15px;
    border-radius: 8px;
}

.sign-in {
    border: 1px solid #fff;
}

.sign-up {
    background-color: rgb(255, 65, 65);
}

.carousel-caption {
    bottom: 35%;
}

.carousel-caption h1 {
    font-size: 72px;
    font-weight: bold;
}

.carousel-item-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: transparent;
    margin-top: 10px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #fff;
    transition: .3s;
}

.carousel-item-links a:hover {
    background-color: #fff;
    color: #000;
}

h2 {
    font-weight: bold;
    padding: 10px 0;
}

.allMovies {
    padding: 0 0 60px 0;
}

.movie-category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}

.movie-category-list-item {
    padding: 15px;
    border: 1px solid grey;
    background-color: #292929;
    border-radius: 8px;
    width: calc((100% - (4 * 20px)) / 5);
    transition:.3s;
}

.movie-category-list-item:hover{
    box-shadow: inset 0 0 30px black;
}

.movie-category-list-item img {
    border-radius: 8px;
    height: 300px;
    max-width: 100%;
}

.movie-category-list-item h3 {
    padding: 10px 0 5px 0;
    font-size: 24px;
    font-weight: bold;
}

.movie-catery-list-links {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.movie-category-list-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.movie-category-list-item a:first-child {
    background-color: #fff;
    color: #000;
}

.movie-category-list-item a:last-child {
    background-color: rgb(255, 65, 65);
} 

footer {
    padding: 30px 0;
    text-align: center;
    background-color: #2b2b2b;
}

p {
    margin: 0;
}


.detail-img {
    height: 300px;
}

.detail-img h1 {
    padding-top: 110px;
    font-size: 48px;
}

.movie-details {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.movie-details p {
    text-align: justify;
}

.movie-info {
    padding-left: 20px;
}

.sign-in-form {
    max-width: 800px;
    margin: 30px auto;
    border: 1px solid grey;
    background-color: #292929;
    border-radius: 8px;
    padding: 60px;
}

.flash {
    width: 600px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 8%;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
}

.flash.success {
    background-color: rgb(166, 255, 166);
    border: 1px solid green;
    color: green;
    font-weight: bold;
}

.flash.danger {
    background-color: rgb(255, 105, 105);
    border: 1px solid rgb(153, 1, 1);
    color: rgb(153, 1, 1);
    font-weight: bold;
}