services:
	- App\Core\RouterFactory::createRouter
	- App\Core\User\UserAuthenticator
	- App\Core\User\UserRepository
	- App\Core\Slider\SliderModel
	- App\Core\Movies\MoviesModel
	- App\Core\Categories\CategoriesModel


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
