<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{$basePath}/style.css">
        <title>Netflix Clone</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo"><a n:href="Home:"><img src="{$basePath}/images/logo.png" alt="Logo"></a></div>

                <nav>
                    <ul>
                        <li><a n:href="Home:">Home</a></li>
                        {if $user->isLoggedIn() && $user->isInRole('admin')}
                        <li><a n:href="Admin:Dashboard:default">Admin</a></li>
                        {/if}
                    </ul>
                </nav>

                <div class="sign">
                    <ul>
                        {if $user->isLoggedIn()}
                            <li><a n:href="Sign:out" class="sign-in">Odhlásit</a></li>
                        {else}
                            <a n:href="Sign:in"><li class="sign-in">Log-in</li></a>
                            <a n:href="Sign:up"><li class="sign-up">Sign-up</li></a>
                        {/if}
                    </ul>
                </div>
            </div>
        </header>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}
	
 <footer>
        <p>© Copyright 2025</p>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
